@charset "utf-8";

/******* style for Top *******/
#JD_T .T{
   height: 72px;
   background: url(top_bg.gif) left top repeat-x;
}
#JD_T .B{
   background-color:#1b7eb6;
   color:white;
}
 .frm_t{background:none #c6c3c6;}
 .frm_l{background:none #c6c3c6}
 
.tNav1, .tNav0{cursor:pointer;margin-right: 3px;}
.tNav1 {background-image: url(nav_c.gif);}
.tNav1 .L {
   background-image: url(nav_l.gif);
   width: 2px;
}
.tNav1 .C{
   height: 27px;
   line-height: 27px;
   padding: 0px 10px 0px 10px;
   color: #000;
}
.tNav1 .R {
   background-image: url(nav_r.gif);
   width: 2px;
}

.tNav0 .L {
   background-image: url(nav_line.gif);
   width: 2px;
}
.tNav0 .C {
   height: 27px;
   line-height: 27px;
   padding: 0px 10px 0px 10px;
}
.tNav0 .R {
   width: 2px;
}
